iac/**/**/*.tfstate
iac/**/**/*.tfstate.*

iac/**/**/crash.log
iac/**/**/crash.*.log

iac/**/**/*.tfvars
iac/**/**/*.tfvars.json

iac/**/**/override.tf
iac/**/**/override.tf.json
iac/**/**/*_override.tf
iac/**/**/*_override.tf.json

iac/**/**/.terraform.tfstate.lock.info
iac/**/**/.terraformrc
iac/**/**/terraform.rc

iac/**/**/*.tfstate
iac/**/**/*.tfstate.*.backup
iac/**/**/*.tfstate.backup
iac/**/**/*.tfvars
iac/**/**/.terraform
iac/**/**/.terraform.lock.hcl
iac/**/**/*.tfbackend
iac/**/**/.DS_Store
iac/**/**/*.conf
iac/**/**/*.zip
iac/**/**/*.env
iac/**/**/*.crt
iac/**/**/*.key

keys.json
notes.txt

apis/**/**/__pycache__
test

*output.json